body {
    background-color: #1a1a1a;
    color: #fefefe;
    margin: 0;
    padding: 40px 20px;
    font-family: sans-serif;
}

.title {
    font-size: 18px;
    outline: none;
    border: none;
    text-align: center;
}

